@import "../../css-config/mixins.scss";
.footer {
    width: 100%;
    
    .bottom-bar {
        background: #2E0052;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .bottom-bar-content {
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            @include md {
                padding: 0;
                height: 60px;
                max-width: 1200px;
                margin: 0 auto;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
            }
            .text {
                font-size: 12px;
                text-align: center;
                color: rgb(247, 240, 240);
            }
        }
    }
}
